@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap");

.main__container {
  display: flex;
  justify-content: center;
  gap: 110px;
}
.head__caption {
  font-family: "Source Sans Pro";
  margin-bottom: 2rem;
  font-size: 56px;
  line-height: 1;
  text-align: center;
  color: rgb(32, 32, 32);
  letter-spacing: -.02em;
}

.description__field {
  width: 560px;
  height: 880px;
}

.description__subtitle {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  text-align: left;
  color: #1f273d;
  margin-bottom: 2rem;
}

.middle__title {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  color: #1f273d;
  margin-bottom: 2rem;
}

.list__elem {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1rem;
  color: #1f273d;
  padding-top: 14px;
  margin-bottom: 1rem;
  padding-left: .5em;
}

.list__elem::marker {
  content: url('./img/checkmark.png');
}




